@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: fixed;
}

nav h1 {
	font-size: 3rem;
	text-transform: uppercase;
}

nav .menu {
	margin-top: 3px;
	margin-left: 600px;
}

nav .menu a {
	text-decoration: none;
	color: #000;
	margin-right: 15px;
	font-size: 2rem;
	text-transform: uppercase;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(asset/b.jpg) no-repeat center/cover;
	color: #6f6f6f;
	height: 75vh;
}

header h1 {
	font-family: sans-serif;
	font-size: 6rem;
}

.pre {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px;
	font-size: 2rem;
	font-family: 'Raleway', sans-serif;
}

.grid-container {
	display: grid;
	grid-template-columns: 100%;
}
.section1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'i1 p1 i2';
	margin-right: 10px;
	margin-left: 10px;
}

.image1,
.image2 {
	height: 70vh;
	width: 420px;
	border-radius: 5px;
}

.image1 {
	grid-area: i1;
	margin-right: 10px;
}

.image2 {
	grid-area: i2;
	width: 410px;
}

.para1 {
	grid-area: p1;
	background: rgb(222, 220, 255);
	cursor: pointer;
	transition: ease-in-out 0.4s;
	padding: 25px;
	border-radius: 5px;
	width: 430px;
	margin-right: 10px;
}

.para1:hover {
	background: darkblue;
}

.grid-container1 {
	display: grid;
	grid-template-columns: 30% 70%;
}

.section2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'p1 i1';
	margin-right: 10px;
	margin-left: 10px;
}

.para2 {
	grid-area: p1;
	background: rgb(222, 220, 255);
	height: 70vh;
	width: 370px;
	cursor: pointer;
	transition: ease-in-out 0.4s;
	padding: 25px;
	border-radius: 5px;
	margin-right: 10px;
}
.para2:hover {
	background: darkblue;
}

.image3 {
	grid-area: i1;
	width: 900px;
	height: 77.5vh;
	border-radius: 5px;
}

.grid-container1 {
	display: grid;
	grid-template-columns: 30% 70%;
}

.section4 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'p1 i1';
	margin-right: 10px;
	margin-left: 10px;
}

.para4 {
	grid-area: p1;
	background: rgb(222, 220, 255);
	height: 70vh;
	width: 370px;
	cursor: pointer;
	transition: ease-in-out 0.4s;
	padding: 25px;
	border-radius: 5px;
	margin-right: 10px;
}
.para4:hover {
	background: darkblue;
}

.image6 {
	grid-area: i1;
	width: 900px;
	height: 77.5vh;
	border-radius: 5px;
}

.grid-container2 {
	display: grid;
	grid-template-columns: 100%;
}
.section3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'i1 p1 i2';
	margin-right: 10px;
	margin-left: 10px;
}

.image4,
.image5 {
	height: 70vh;
	width: 420px;
	border-radius: 5px;
}

.image4 {
	grid-area: i1;
	margin-right: 10px;
}

.image5 {
	grid-area: i2;
	width: 410px;
}

.para3 {
	grid-area: p1;
	background: rgb(222, 220, 255);
	cursor: pointer;
	transition: ease-in-out 0.4s;
	padding: 25px;
	border-radius: 5px;
	width: 430px;
	margin-right: 10px;
}

.para3:hover {
	background: darkblue;
}

.grid-container3 {
	display: grid;
	grid-template-columns: 30% 70%;
}

.section4 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'p1 i1';
	margin-right: 10px;
	margin-left: 10px;
}

.para4 {
	grid-area: p1;
	background: rgb(222, 220, 255);
	height: 70vh;
	width: 370px;
	cursor: pointer;
	transition: ease-in-out 0.4s;
	padding: 25px;
	border-radius: 5px;
	margin-right: 10px;
}
.para4:hover {
	background: darkblue;
}

.image6 {
	grid-area: i1;
	width: 900px;
	height: 77.5vh;
	border-radius: 5px;
}

footer {
	display: flex;
	flex-direction: column;
	background-color: rgb(0, 0, 0, 0.8);
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

footer h1 {
	margin: 10px auto;
	font-size: 2rem;
	margin-top: 40px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.services {
	display: flex;
	width: 98%;
	margin: 20px 10px 20px;
	padding-left: 20px;
}

footer h3 {
	font-size: 1.5rem;
	text-transform: capitalize;
	margin: 20px auto;
	letter-spacing: 2px;
	color: #999;
}

footer a {
	color: #999;
	transition: all 0.2s ease-in-out;
	font-size: 1rem;
	text-decoration: none;
	margin-right: 20px;
	margin-bottom: 20px;
}

footer a:hover {
	color: #fff;
}

.fab {
	margin-right: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 2rem;
}

.fa-instagram-square {
	color: #522879;
}

.fa-facebook {
	color: #3fa9d9;
}

.fa-youtube {
	color: #f00;
}

.fa-twitter {
	color: #007cba;
}

.fas,
.far {
	margin: 0px 10px 20px 0px;
	font-size: 2rem;
}

.fa-map-marker {
	color: rgb(3, 48, 3);
}

.fa-phone-volume {
	color: rgb(46, 3, 24);
}

.fa-envelope {
	color: rgb(78, 5, 248);
}

footer p {
	font-size: 1rem;
	letter-spacing: 2px;
	margin-right: 20px;
}

#contact {
	font-size: 7px;
	margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
	nav .menu {
		margin-left: 0px;
	}

	nav .menu a {
		margin-right: 10px;
		text-transform: capitalize;
		font-size: 1.2rem;
	}

	header {
	}

	header h1 {
		font-size: 2rem;
	}

	.grid-container {
		display: grid;
	}

	.section1 {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: 'i1' 'p1' 'i2';
		margin-right: 3px;
		margin-left: 3px;
	}

	.image1,
	.image2 {
		height: 50vh;
		margin: 3px 1px;
		width: 99.5%;
	}

	.image1 {
		grid-area: i1;
	}

	.image2 {
		grid-area: i2;
	}

	.para1 {
		grid-area: p1;
		width: 99%;
		height: 50vh;
		margin: 3px 0px;
		padding: 2px;
	}

	.grid-container1 {
		display: grid;
		grid-template-columns: 100%;
	}
	.section2 {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr;
		grid-template-areas: 'p1' 'i1';
		margin-right: 3px;
		margin-left: 3px;
	}

	.image3 {
		grid-area: i1;
		height: 50vh;
		margin: 3px 1px;
		width: 99.5%;
	}

	.para2 {
		grid-area: p1;
		width: 99%;
		height: 50vh;
		margin: 3px 0px;
		padding: 2px;
	}
	.grid-container2 {
		display: grid;
	}
	.section3 {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr;
		grid-template-areas: 'i1' 'p1' 'i2';
		margin-right: 3px;
		margin-left: 3px;
	}
	.image4,
	.image5 {
		height: 50vh;
		margin: 3px 1px;
		width: 99.5%;
	}
	.image4 {
		grid-area: i1;
	}
	.image5 {
		grid-area: i2;
	}
	.para3 {
		grid-area: p1;
		width: 99%;
		height: 50vh;
		margin: 3px 0px;
		padding: 2px;
	}

	.grid-container3 {
		display: grid;
		grid-template-columns: 100%;
	}
	.section4 {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr;
		grid-template-areas: 'p1' 'i1';
		margin-right: 3px;
		margin-left: 3px;
	}
	.image6 {
		grid-area: i1;
		height: 50vh;
		margin: 3px 1px;
		width: 99.5%;
	}
	.para4 {
		grid-area: p1;
		width: 99%;
		height: 50vh;
		margin: 3px 0px;
		padding: 2px;
	}

	.services {
		width: 96%;
		margin: 20px 5px 20px;
	}

	footer h3 {
		font-size: 0.6rem;

		letter-spacing: 1px;
	}

	footer a {
		font-size: 0.6rem;

		margin-right: 5px;
		margin-bottom: 20px;
	}

	.fab {
		margin-right: 10px;
		margin-bottom: 10px;
		font-size: 1.5rem;
	}

	.fas,
	.far {
		margin: 0px 5px 15px 0px;
		font-size: 1.5rem;
	}

	footer p {
		font-size: 0.5rem;
		letter-spacing: 1px;
		margin-right: 8px;
	}

	#contact {
		font-size: 7px;
		margin-bottom: 10px;
	}
}
